<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Réinitialiser</h5>
    <h6 class="card-subtitle mb-2 text-muted">Réinitaliser les check-ins</h6>
    <p class="card-text"><b>Attention !</b> <br /> Si vous cliquez sur "Réinitialiser", la liste des personnes déjà cochées sera remise à zéro.</p>

    <p>
      <button routerLink="/liste" type="button" class="btn ">Annuler</button>
      <button (click)="reset()" type="button" class="btn btn-danger">Réinitialiser</button>      
    </p>
  </div>
</div>
